<div class="container mt-5 d-flex justify-content-center">

  <div class="col-12 col-md-8 col-lg-6">
    <form (ngSubmit)="agregar()">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Ingresar el numero delEmpleado</label>
          <input type="text" class="form-control" name="n_Empleado" [(ngModel)]="nuevo.numeroe" required>
        </div>
        <div class="col-md-6">
          <label class="form-label">Ingresar el Nombre</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevo.nombre" required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label"> Ingresar el Correo</label>
          <input type="email" class="form-control" name="correo" [(ngModel)]="nuevo.correo" required>
        </div>
        <div class="col-md-6">
          <label class="form-label"> Ingresar el Teléfono</label>
          <input type="tel" class="form-control" name="telefono" [(ngModel)]="nuevo.telefono">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" name="fecha_N" [(ngModel)]="nuevo.fecha">
        </div>
        <div class="col-md-6">
          <label class="form-label">Sexo del empleado</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Masculino" name="sexo" [(ngModel)]="nuevo.sexo">
            <label class="form-check-label">Hombre</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Femenino" name="sexo" [(ngModel)]="nuevo.sexo">
            <label class="form-check-label">Mujer</label>
          </div>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-danger">Guardar</button>
      </div>
    </form>
  </div>
</div>