/* Estilos para la tabla */
.table {
  color: white;
  width: 100%;
  /* Ajusta el ancho de la tabla según necesites */
}

/* Estilo para los encabezados de la tabla */
.table .thead {
  background-color: #7524ab;
  color: white;
}

/* Estilo para el cuerpo de la tabla */
.table .tbody {
  background-color: #e35d5d;
  color: white;
}

/* Estilo para el botón de eliminar */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}